@import "@style/_global.less";

.dashboard {
  .mixin-display(flex);
  .mixin-gap(@indent__sx);
  .mixin-display-flex-direction(row);
 // height: calc(100vh - 150px); /* 100% da viewport menos a altura do footer */
.sidebar{
  background-color: @theme__color__primary-alt;
  border-right: solid 1px #ede4ff;;
}
  .content {
    flex: 1; /* O conteúdo expande para preencher o espaço restante */
    padding: @indent__m;
    background-color: @color-white;
  }
  .main-content{
    padding: @indent__m;
    width: 100%;
  }
}
