<h1 class="title">Cadastro de Estudantes</h1>

<div class="container-form">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-row">
      <!-- Nome (ocupando mais largura) -->
      <div class="form-group large-width">
        <p-floatLabel>
          <input pInputText id="name" formControlName="name" required />
          <label for="name">Nome</label>
        </p-floatLabel>
      </div>
    </div>

    <div class="form-row">
      <!-- Data de Nascimento com Máscara -->
      <div class="form-group">
        <p-floatLabel>
          <p-inputMask id="birthDate" formControlName="birthDate" mask="99/99/9999" placeholder="dd/mm/aaaa" required></p-inputMask>
          <label for="birthDate">Data de Nascimento</label>
        </p-floatLabel>
      </div>

      <!-- Turma -->
      <div class="form-group">
        <p-dropdown [options]="turmas" formControlName="class" placeholder="Selecione a Turma"></p-dropdown>
      </div>
    </div>

    <div class="form-row">
      <!-- CPF com Máscara -->
      <div class="form-group">
        <p-floatLabel>
          <p-inputMask id="cpf" formControlName="cpf" mask="999.999.999-99" placeholder="___.___.___-__" required></p-inputMask>
          <label for="cpf">CPF</label>
        </p-floatLabel>
      </div>

          <!-- Telefone com Máscara -->
    <div class="form-group">
      <p-floatLabel>
        <p-inputMask id="phone" formControlName="phone" mask="(99)99999-9999" placeholder="(  )9____-____" required></p-inputMask>
        <label for="phone">Telefone</label>
      </p-floatLabel>
      <small *ngIf="registerForm.get('phone')?.hasError('formatoInvalido')" class="text-danger">
        * O telefone deve estar no formato (XX)9XXXX-XXXX.
      </small>
    </div>

    </div>

    <!-- Responsáveis (linha única com mais espaçamento e maior largura) -->
    <fieldset formGroupName="responsaveis" class="full-width">
      <legend>Responsáveis</legend>

      <div class="form-row">
        <div class="form-group large-width">
          <p-floatLabel>
            <input pInputText id="responsavel1" formControlName="responsavel1" placeholder="Responsável 1" />
            <label for="responsavel1">Responsável 1</label>
          </p-floatLabel>
        </div>

        <div class="form-group large-width">
          <p-floatLabel>
            <input pInputText id="responsavel2" formControlName="responsavel2" placeholder="Responsável 2" />
            <label for="responsavel2">Responsável 2</label>
          </p-floatLabel>
        </div>
      </div>

      <!-- Aviso de mínimo um responsável -->
      <small *ngIf="registerForm.get('responsaveis')?.hasError('minimoUmResponsavel')" class="text-danger">
        * É necessário preencher no mínimo um responsável.
      </small>
    </fieldset>

    <!-- Botão de envio -->
    <div class="button-group">
      <button type="submit">Registrar</button>
    </div>
  </form>
</div>

<p-toast></p-toast>
