
.p-toolbar {
  padding: unset;
  background-color: @theme__color__primary-alt;
  box-shadow: unset;
  border: unset;

  .p-toolbar-group-end {
    .mixin-flex-justify-content(end)
  }
}

.sidebar {


}
