<p-card class="card register">

  <div class="flex title-box">
    <div class="page-title-wrapper">
      <h1 class="page-title">Encurtador de link</h1>
      <div class="text-700 mb-4">Insira a url e depois o texto que deseja substituir a url</div>

    </div>

  </div>
  <div class=" short-link">

    <div class="row">
      <div class="col-12">
        <form (ngSubmit)="createShortLink()">
          <p-inputGroup>
            <p-inputGroupAddon>
              <i class="pi pi-paperclip"></i>
            </p-inputGroupAddon>
            <input type="text" pInputText [(ngModel)]="url" placeholder="Insira a URL" name="url" required>
          </p-inputGroup>
          <p-inputGroup class="mt-5">
            <p-inputGroupAddon>
              <i class="pi pi-pen-to-square"></i>
            </p-inputGroupAddon>
            <input type="text" pInputText [(ngModel)]="slug" placeholder="Slug desejado" name="slug" required>
          </p-inputGroup>
          <div class="mt-5">
            <p-button type="submit" label="Encurtar URL"/>
          </div>
        </form>

        <img *ngIf="qrCodeUrl" [src]="qrCodeUrl" alt="QR Code">
      </div>
    </div>
  </div>

</p-card>



