@import "@style/_global.less";

.home-component {
  width: 100%; /* A largura da div será 100% do seu contêiner pai */
  max-width: 600px; /* Limita a largura máxima da div (opcional) */
  height: auto; /* A altura da div será ajustada automaticamente */
  margin: 0 auto;

  .box {
    .mixin-display(flex);

    &-info {
      &_title {
        text-align: center;
        color: @theme__color__primary;
      }

      img {
        width: 100%; /* Faz a imagem preencher toda a largura da div */
        height: auto; /* Mantém a proporção da imagem */
        display: block; /* Remove os espaços ao redor da imagem */
      }
    }
    .button_login{
      margin-top: @indent__m;
    }
  }

}
