@import "@style/_global.less";

.students-container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;

  .flex{
    .mixin-display-flex-box-align();
  }
}

.students-table {
  width: 100%;
  border-collapse: collapse;

  tbody{
    td{
      &.action{
        .mixin-display(flex);
        .mixin-gap(@indent__xxs)
      }
    }
  }

  th:nth-child(1),
  td:nth-child(1) {
    min-width: 200px;
    max-width: 500px;
    word-wrap: break-word;
  }

  th,
  td {
    font-size: 14px;
    padding: 8px;
    text-align: left;
  }

  th {
    background-color: #f4f4f4;
  }

  td {
    padding: 10px;
    border: 1px solid #ddd;
  }
}

.title {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  margin-bottom: 1rem;
}

.search-bar {
  margin-left: 0;
  margin-right: auto;
  display: flex;
  justify-content: flex-start;
  margin-bottom: 20px;
  width: 100%;

  p-dropdown {
    width: 50%;
    max-width: 400px;
  }
}

.btn {

  &-save {
    background-color: #4caf50;
    color: white;

    &:hover {
      background-color: #45a049;
    }
  }

  &-cancel {
    background-color: #f44336;
    color: white;

    &:hover {
      background-color: #e53935;
    }
  }

  &-edit {
    background-color: #4caf50;
    color: white;
    padding: 5px 10px;

    &:hover {
      background-color: #45a049;
    }
  }

  &-delete {
    background-color: #f44336;
    color: white;
    margin-top: 0.1rem;
    padding: 5px 10px;

    &:hover {
      background-color: #e53935;
    }
  }

  &-register {
    margin-right: 1rem;
    background-color: blue;
    min-width: 225px;
    color: white;
    padding: 8px 16px;
    cursor: pointer;
    min-height: 40px;
    font-size: 18px;
    margin-left: auto;
    display: block;
    position: relative;
    top: 45px;
  }
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;

  &-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    max-width: 500px;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.form-group {
  margin-bottom: 15px;

  label {
    display: block;
    margin-bottom: 5px;
    font-size: 12px;

    &[for="name"] {
      display: inline-block;
      width: 300px;
      font-size: 14px;
      margin-right: 10px;
    }
  }

  input {
    width: calc(100% - 200px);
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 10px;
}

