<p-card class="card register">

  <div class="flex title-box">
    <div class="page-title-wrapper">
      <h1 class="page-title">Lista de Alunos Cadastrados</h1>
    </div>
  </div>

  <div class="students-container">
    <div class="flex">

      <!-- Barra de pesquisa -->
      <div class="search-bar">
        <p-dropdown
          [options]="studentsDropdown"
          [(ngModel)]="selectedStudent"
          optionLabel="name"
          [filter]="true"
          filterBy="name"
          [showClear]="true"
          placeholder="Buscar Aluno"
          (onChange)="filterTable()">
        </p-dropdown>

      </div>

      <p-button icon="pi pi-plus" label="Adicionar Alunos" (click)="goToRegister()"/>

    </div>
    <!-- Tabela de alunos -->
    <table class="students-table">
      <thead>
      <tr>
        <th>Nome</th>
        <th>Data de Nascimento</th>
        <th>Turma</th>
        <th>CPF</th>
        <th>Telefone</th>
        <th>Ações</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let student of filteredStudents">
        <td>{{ student.name }}</td>
        <td>{{ student.birthDate }}</td>
        <td>{{ student.class }}</td>
        <td>{{ student.cpf }}</td>
        <td>{{ student.phone }}</td>
        <td class="action">
          <p-button icon="pi pi-pencil" size="small" (click)="editStudent(student)" tooltipPosition="Editar"/>
          <p-button icon="pi pi-trash" size="small" severity="danger" (click)="deleteStudent(student.id)"/>
        </td>
      </tr>
      </tbody>
    </table>
  </div>

  <!-- Modal para editar aluno -->
  <div class="modal" *ngIf="isEditing">
    <div class="modal-content">
      <h3>Editar Aluno</h3>
      <form [formGroup]="editForm" (ngSubmit)="saveEdit()">
        <div class="form-group">
          <label for="name">Nome:</label>
          <input type="text" id="name" formControlName="name"/>
          <div *ngIf="editForm.get('name')?.invalid && editForm.get('name')?.touched">
            O nome é obrigatório.
          </div>
        </div>
        <div class="form-group">
          <label for="birthDate">Data de Nascimento:</label>
          <input
            type="text"
            id="birthDate"
            formControlName="birthDate"
            (input)="updateBirthDate($event)"
          />
          <div *ngIf="editForm.get('birthDate')?.invalid && editForm.get('birthDate')?.touched">
            Formato inválido. Use "dd/mm/yyyy".
          </div>
        </div>

        <div class="form-group">
          <label>Turma:</label>
          <p-dropdown [options]="classOptions" formControlName="class" placeholder="Selecione a Turma"></p-dropdown>
        </div>
        <div class="form-group">
          <label for="cpf">CPF:</label>
          <input
            type="text"
            id="cpf"
            formControlName="cpf"
            (input)="updateCPF($event)"
          />
          <div *ngIf="editForm.get('cpf')?.errors?.['formatoInvalido']">
            Formato de CPF inválido. Use o formato XXX.XXX.XXX-XX.
          </div>
        </div>
        <div class="form-group">
          <label for="phone">Telefone:</label>
          <input
            type="text"
            id="phone"
            formControlName="phone"
            (input)="updatePhone($event)"
          />
          <div *ngIf="editForm.get('phone')?.errors?.['formatoInvalido']">
            Formato de telefone inválido. Use o formato (XX)XXXXX-XXXX.
          </div>
        </div>
        <div class="form-actions">
          <button type="submit" class="btn btn-save" [disabled]="editForm.invalid">Salvar</button>
          <button type="button" class="btn btn-cancel" (click)="cancelEdit()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</p-card>

