// Colors
//
@color-black: #374151;
@color-gray:#9A9A9A;
@color-gray-light:#F3F3F3;
@color-red:#FB404B;
@color-blue-dark:#0258A0;
@color-blue-light:#0095D7;
@color-white:#FFFFFF;
@color-purple: #594187;
@color-purple-light: #E9DEE6;


//  Standard
//  _____________________________________________
@color-oregon-blue: #399BE2;
@color-sango-red: #F7634D;
@color-bluish-green: #11A676;
